body, html
{
    font-family: 'Open Sans';
}

#outer-grid
{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#header
{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#name
{
    text-align: left;
}

#address
{
    text-align: right;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#outer-grid > div{
    background-color: lightgreen;
}

.section-header
{
    line-height: 38px;
    font-size: 30px;
    letter-spacing: 0px;
    font-weight: 300;
    color: #525252;
}

.header{
    box-shadow: 
}

.header-text
{
    font: family: 'Montserrat';
    color: #333;
    font-size: 50px;
    font-weight: 58px;
    letter-spacing: 0px;
    font-weight: 400;
}