body, html
{
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 24px;
    font-weight: 400;
}

#outer-grid
{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#header
{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}


#name
{
    text-align: left;
}

#address
{
    text-align: right;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#outer-grid > div{
    background-color: lightgreen;
}

.section-header
{
    line-height: 38px;
    font-size: 30px;
    letter-spacing: 0;
    font-weight: 300;
    color: #525252;
    text-align: center;
}

.header
{
    box-shadow: 
}

.entry
{
    display: grid;
    grid-template-columns: auto auto;
}

.entry-header
{
    font-family: Roboto;
    text-transform: uppercase;   
    color: #525252;
    letter-spacing: 1;
    grid-column: 1;
    grid-row: 1;
}

.entry-title
{
    grid-column: 1 / span 2;
    grid-row: 2;
    font-style: italic;
}
.entry-title
{
    grid-column: 1 / span 2;
    grid-row: 3;
}

.header-text
{
    font: family: Montserrat;
    color: #333;
    font-size: 50px;
    font-weight: 58px;
    letter-spacing: 0;
    font-weight: 700;
}